*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo img{
    height: 80px;
}
.logo h2{
    display: inline;
    color: white;
}

.nav{
    margin-right: 30px;
    float: right;
}
.nav__a{
    color: wheat;
    text-decoration: none;
    margin: 10px;
    border: 1px wheat solid;
    padding: 10px;
}
.nav__a:hover{
    background-color: #f5f5f5;
    color: black;
}

.contacto:hover{
    background-color: rgb(25, 5, 197);
    color: white;
}

.title__h1{
    text-decoration: underline double ;
    font-size: 3em;
    margin-top: 100px;
    text-align: center;
}
.flex{
    font-family: sans-serif;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 100px auto;
    text-align: center;
}

.flex__article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    height: 100%;
    width: 400px;
}
.flex-sl{
    background-image: url(../futbol/san-lorenzo/fotos/escudosl.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(235, 19, 19, 0.849);
    transition: all 0.5s ease;
}

.flex-bj{
    background-image: url(../futbol/boca/fotos/escudoboca.png);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(17, 17, 219, 0.959);
    transition: all 0.5s ease;
}

.flex-rp{
    background-image: url(../futbol/river-plate/fotos/riverescudo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(238, 78, 78);
    transition: all 0.5s ease;
}

.flex-rc{
    background-image: url(../futbol/racing/fotos/escudoracing.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightskyblue;
    transition: all 0.5s ease;
}

.flex-cai{
    background-image: url(../futbol/independiente/fotos/escudocai.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: red;
    transition: all 0.5s ease;
}

.flex__article:hover{
    background-color: white;
    width: 600px;
}

.title__card{
    margin-top: 90px;
    font-size: 3em;
}

.p__card{
    margin-top: 460px;
    font-size: 1.5em;
}

.a__card{
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    margin-bottom: 40px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    transition: all 0.5s ease;
    font-size: 20px;
    text-decoration: none;
}
.a__card:hover{
    width: 75%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.letter-sl{
    background-color:rgba(255, 0, 0, 0.884);
}
.letter-bj{
    background-color: rgba(0, 4, 255, 0.993);
}
.letter-rp{
    background-color: rgba(255, 0, 0, 0.979);
}
.letter-rc{
    background-color: rgb(8, 178, 235);
}
.letter-cai{
    background-color: rgb(10, 0, 0);
}

.divisor{
    margin-top: 30px;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.encabezado h2{
    display: inline-block;
    font-weight: 700;
    font-size: 2em;
    margin: 50px 80px;
    border-bottom: 1px solid black;
}

.internacional__card{
    border: 1px solid black;
    padding: 10px;
}

.botonbtsp{
    padding: 30px;
}
.main-sanlorenzo{
    margin-top: 20px;
    text-align: center;
}
.sanlorenzo-data{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.sanlorenzo-data img{
    border: 1px solid black;

}

.grid__titulos__nacionales{
    display: grid; 
    justify-content: space-evenly;
}

.titulos__nacionales{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 70px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.footer__a-img{
    width: 50px;
    padding-top: 20px;
}
.footer__a{
    margin: 15px;
}

.divisor{
    border: 1px solid;
}

.main-bj{
    background-image: url(../futbol/boca/fotos/fondoboke.jpg);
    background-position: center;
    background-size: cover;
}

.title-bj{
    color: #fff828;
    text-decoration: underline blue;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center ;
}
.section-bj-oficial{
    margin-top: 170px;
    margin-left: 160px;
    width: 400px;
    border: 1px solid black;
    height: 200px;
}

.section_bj_oficial-title{
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(231, 220, 16);
    text-align: center;
}


.section_bj_oficial-p{
    color: white;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 26px;
}

.section_bj_oficial-button{
    width: 350px;
    display: block;
    margin: 25px auto 0 auto;
    height: 54px;
    color: white;
    background-color: rgb(14, 38, 155);
    border: none;
    border-radius: 5px;
}

.frame{
    bottom: 300px;
    margin-right: 70px;
    height: 400px;
    width: 440px;
    display: block;
    position: relative;
    margin-left: auto;
}


.main-rp{
    background-image: url(../futbol/river-plate/fotos/riberplei.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    overflow:visible;
}

.main-contacto{
    height: 100vh;
    width: 100vw;
    background-image: url(../fotos/vintage-grunge-blue-concrete-texture-wall-background-with-vignette.jpg);
    background-position: center;
    background-size: cover;
}
.form-container{
    border: 1px solid black;
    position: relative;
    top: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    width: 400px;
    height: 500px;
    background-color: rgb(26, 98, 156);
}
.form__title{
    text-align: center;
    padding-top: 15px;
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form__input{
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    height: 34px;
    width: 80%;
    border: none;
}

.checkbox{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.boton{
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 74%;
    color: white;
    background-color: rgb(6, 3, 69);
}

.img--logo{
    height: 800px;
}


.main-rc{
    background-image: url(../futbol/racing/fotos/portada-racingjpg.webp);
    height: 70vh;
    width: 100%;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.racing__actualidad{
    margin-top: 10px;
    border: 3px solid;
    padding: 10px;
}
.actualidad_text{
    margin: 20px;
    padding: 15px;
}
.h2__actualidad, .h2__1er{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}
.img__racing{
    margin: auto 0;
}
.p__actualidad, .p__1er{
    font-size: 19px;
    font-weight: 500;
    padding: 20px;
}


.background{
    text-align: center;
    height: 100%;
    background-color: #d6d6d6;
}
.primer__grande{
    border: 2px solid black;
    margin-top: 30px;
}

.card__internacional{
    border: 1px solid black;
    padding: 15px;
    transition: all 0.7s ease;
    margin: 4px;
    text-align: center;
}

.card__internacional:hover{
    box-shadow: -1px 0px 20px 17px rgba(0,0,0,0.61);
    -webkit-box-shadow: -1px 0px 20px 17px rgba(0,0,0,0.61);
    -moz-box-shadow: -1px 0px 20px 17px rgba(0,0,0,0.61);
}
.card__internacional h3{
    font-size: 2rem;
    font-weight: 600;
}

.card__internacional p{
    font-size: 1.3rem;
}

.card-body{
    margin-bottom: 30px;
    text-align: center;
}
.card-body h5{
    font-weight: 600;
    margin: 10px;
}
.card-body p{
    font-size: 18px;
}

@media screen and (max-width : 575px){
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .flex__article{
        width: 100%;
    }
    .flex__article h2{
        margin-bottom: 150px;
    }
    .footer__index{
        display: none;
    }
}
