.title-river {
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: red;
}

.hero-rp {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-rp h4 {
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
}
.hero-rp p {
  font-size: 22px;
  color: white;
}
.hero-rp img {
  height: 200px;
  margin-top: 30px;
}
.hero-rp div {
  background: rgb(36, 0, 7);
  background: linear-gradient(180deg, rgba(36, 0, 7, 0) 0%, rgba(113, 14, 14, 0) 35%, rgb(230, 32, 32) 100%);
  border: 2px black solid;
  position: relative;
  top: 500px;
}
.hero-rp div a {
  width: 300px;
}

.palmares-rp {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.palmares-rp img {
  width: 400px;
}
.palmares-rp .titulos-river {
  justify-content: space-between;
}
.palmares-rp .img-rp {
  margin: 30px;
}

.titles__nacionales {
  background-color: #f5f5f5;
  text-align: center;
  padding: 30px;
}
.titles__nacionales h2 {
  font-size: 2rem;
  font-weight: 600;
}
.titles__nacionales p {
  margin-right: 30px;
  margin-left: 50px;
}

.titles__internacionales {
  padding: 30px;
  text-align: center;
}
.titles__internacionales h2 {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 40px;
}
.titles__internacionales p {
  margin: auto;
}

.dividir {
  border: 1px solid black;
  width: 100%;
}

.bloque-rp {
  text-align: center;
  padding: 15px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.title__independiente {
  text-align: center;
  margin: 20px auto;
  font-size: 2.5rem;
  font-weight: 700;
}

.caja-titulos {
  margin-right: 400px;
  text-align: center;
  width: 420px;
}
.caja-titulos img {
  margin: 10px 0;
  width: 100%;
  height: 230px;
}
.caja-titulos h4 {
  font-weight: 600;
}

.container__actualidad {
  text-align: center;
  margin-bottom: 100px;
  margin-left: 100px;
  width: 80%;
  height: 590px;
}
.container__actualidad h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: underline;
  font-size: 40px;
  font-weight: 700;
}
.container__actualidad img {
  width: 50%;
  float: left;
  margin: 10px;
}
.container__actualidad p {
  font-size: 18px;
}

.container__historia {
  margin: 50px;
}
.container__historia h3 {
  margin: 10px 0 0 30px;
  border-bottom: solid 1px black;
}
.container__historia .historia {
  margin-top: 30px;
  margin-left: 30px;
}

.indp {
  font-size: 1.7rem;
}

.indp-div {
  margin-top: 50px;
}

.grandes__container {
  margin-top: 100px;
}
.grandes__container h1 {
  font-weight: 700;
  text-align: center;
  margin: 20px;
  font-size: 2.5rem;
}
.grandes__container img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dividir-index {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.content__grandes {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-left: 50px;
}

.san-lorenzo__datos {
  width: 70%;
  margin: 50px 90px;
}
.san-lorenzo__datos h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}
.san-lorenzo__datos img {
  margin-bottom: 30px;
}
.san-lorenzo__datos p {
  font-size: 19px;
}

.div__footer {
  margin-top: 20px;
  margin-left: 65px;
  width: 130px;
  text-align: center;
  margin-bottom: 20px;
}

.flex__footer {
  color: white;
  display: inline-block;
}

.footer__index a {
  font-size: 18px;
  color: white;
}

.container__clasicos {
  margin-left: 70px;
  text-align: center;
}
.container__clasicos h3 {
  font-weight: 600;
  font-size: 2rem;
}
.container__clasicos p {
  text-align: start;
}
.container__clasicos img {
  margin: 10px;
}

.container__historiales {
  margin-left: 70px;
}

.clasicos {
  margin-left: 70px;
}

.boca-main {
  height: 50VH;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../futbol/boca/fotos/fondoboke.jpg);
  text-align: center;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.boca-main div a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.bocajrs {
  margin: 50px;
}
.bocajrs h2 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.logoboca {
  justify-content: center;
  gap: 50px;
  display: flex;
  align-items: center;
}
.logoboca img {
  width: 250px;
}
.logoboca p {
  width: 300px;
}

.boca-internacional {
  margin: 50px;
  text-align: center;
}
.boca-internacional h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.internacional-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
.internacional-titles img {
  width: 450px;
}
.internacional-titles p {
  width: 500px;
}

.bombonera {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.bombonera-img {
  width: 90%;
  margin-bottom: 15px;
}

.gasometro {
  width: auto;
  background-color: rgb(248, 241, 241);
  text-align: center;
}
.gasometro h5 {
  font-weight: 600;
}
.gasometro img {
  margin-top: 20px;
  width: 300px;
}
.gasometro p {
  width: auto;
  margin: 0 auto;
}

.estadios {
  margin: 50px;
}

.main-rp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../futbol/river-plate/fotos/riberplei.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
}
.main-rp .div-rp-oficial {
  margin-top: 80px;
}

.hoverimg {
  transition: all 0.5s ease;
}

.hoverimg:hover {
  box-shadow: 1px 1px 1px 1px black;
}

.camisetas {
  background-color: rgb(19, 17, 17);
  margin-bottom: 40px;
}

.img-div {
  padding-bottom: 30px;
}

.h3__camisetas {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.asociate {
  margin: 50px 0;
  text-align: center;
}
.asociate a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  height: 80px;
  width: 250px;
  color: black;
  padding: 10px;
  background-color: rgb(239, 13, 13);
  font-weight: 600;
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.asociate-rp {
  margin: 50px 0;
  text-align: center;
}
.asociate-rp a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  height: 80px;
  width: 250px;
  color: red;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.asociate-rc {
  margin: 50px 0;
  text-align: center;
}
.asociate-rc a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  height: 80px;
  width: 250px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(0, 170, 255);
  font-weight: 600;
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.asociate-boca {
  margin: 50px 0;
  text-align: center;
}
.asociate-boca a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  height: 80px;
  width: 250px;
  color: rgb(236, 253, 0);
  padding: 10px;
  background-color: blue;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.asociate-indp {
  margin: 50px 0;
  text-align: center;
}
.asociate-indp a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  height: 80px;
  width: 250px;
  color: white;
  padding: 10px;
  background-color: red;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}/*# sourceMappingURL=styles.css.map */